@font-face{
 font-family:NotoSans-Light;
src: url(./font/NotoSans-Light.ttf);
}

body{
    width:100%; height:100%;
}
#headerWrap{
    position: relative;
    width:100%; height:108px;
    border-bottom:1px solid #DFDFDF;
    padding-top: 6px;
}
.wrap{
    width:1140px; height:100%;
    margin: 0 auto;
}
#header>.headerTop{
    width:1140px; height:108px;
    display: flex;


}
#header>.headerTop>h1{
    padding-top:20px;
}
#header>.headerTop>aside {
    width: 100%;
    height: 40px;
    padding-top: 30px;
    display: flex;
    justify-content:flex-end;
}
#header>.headerTop>aside>p {
    padding-right:13px;
}


#header>.headerTop>aside>ul{
    width:360px; height:36px;
    background: #F5F8FA;
    border:1px solid #DFDFDF;
    display: flex;
    justify-content: center;
    border-radius: 0.5em 0.5em;
}

#header>.headerTop>aside>ul>li{
    padding:10.5px;
    font-size:13px;
    border-right: 1px solid #DFDFDF;
    color:#7D8F98;
}
#header>.headerTop>aside>ul>li:last-child{
    border:none;
}

/*header 끝*/



/*menu시작*/

#menuWrap{
    position: relative;
    width:100%;
    height:62px;
    border-bottom: 1px solid #DFDFDF;
}


#menu {
    position: relative;
    width: 1140px;
    margin: 0 auto;
}

#menu>ul{
    position: relative;
    display: flex;
}
#menu>ul>li{

}
li.mm{
    width:180px;
}
.mainMenu01{
        border-left: 1px solid #DFDFDF;
}
.mainMenu07{
    width:60px; height:100%;
}
#menu>ul>li>a {
    height: 20px;
    display: block;
    text-align: center;
    font-size: 18px;
    border-right: 1px solid #DFDFDF;
    padding: 21px 0;
}

/*.subBg {
    position: fixed;
    top: 166px;
    left: 0;
    width: 100%;
    height: 370px;
    background: white;
    z-index: -1000;
    border:1px solid #DFDFDF;
}*/
.smTotalWrap {
    display:none;
    position: fixed;
    top: 175px;
    width: 100%;
    height: 300px;
    left: 0;
    border-bottom: 1px solid #b7b0b0;
    border-top: 1px solid #b7b0b0;
}
.smwr {
    width: 1140px;
    height: 300px;
    background: #FAFAFA;
    display: flex;
    margin: 0 auto;
}

.smwr:first-child{
border-left:1px solid #b7b0b0;
}

.smwr>div{
    flex-basis:230px;
}

.subTitle {
    font-size: 16px;
    line-height: 44px;
}
.smwr>div{
    border-right: 1px solid #b7b0b0;
    padding-left: 18px;
}
.smwr>div>ul {
    position: relative;
    top: 18px;
    font-size: 14px;
    line-height: 26px;
}

/*menu끝*/

/*section01 시작*/
#sectionWrap {
    position: relative;
    width: 100%;
    height: 1640px;
    background-color: #F5F8FA;
}

.sectionInnerWrap {
    width: 1140px;
    display: flex;
    background-color: #f5f8fa;
    justify-content :space-between;
    margin: 0 auto;
}

.wrap01, .wrap03, .wrap04, .wrap05, .wrap06{
    padding-top:30px;
    }

.view{
    width:830px; height:450px;
    overflow:hidden;
}

.realtime_info {
    width: 520px;
    height: 240px;
    margin-right: 20px;
    background-color: gray;
    overflow: hidden;
}






/*보도해명*/
.section01Box{
    width: 290px; height:240px;
    background-color: white;
    margin-right:20px;
}

.section01Box>ul {
    line-height: 35px;
    font-size: 14px;
}
.titleWrap{
    display:flex;
}

.icon{
    position:relative;
    height:40px;
    top: 11px;
}
.iconPlus {
    position: relative;
    right: 0;
    width: 100%;
    text-align: end;
    top: 21px;
}

.iconTitle{
    width:300px;
    padding-left: 7px;
}

/*공지공고*/
.notice{
    margin:0;
}


/*section03 시작*/

.wrap03 {
    position: relative;
    height: 240px;
    overflow: hidden;
}

.popup_area{
    width: 290px; height:240px;
    margin-right:20px;
}

.videoList{
    width:520px; height:240px;
    margin-right:20px;
    background: white;
}
.videoImg, .cardNewsImg{
    text-align: center;
    padding-top: 10px;
}
.videoImg>img{
    width:240px;
}




/*카드뉴스*/
.cardNews{
    width:290px; height:240px;
    background: white;
}

.cardNews>.titleWrap>.iconTitle{
    width: 84px;
    padding-left: 7px;
}



/*section03 끝*/

/*section04 시작*/

.wrap04 {
    position: relative;
    height: 240px;
    overflow: hidden;
}

.majorPolicy {
    width: 480px;
    height: 200px;
    background-color: white;
    padding: 20px;
    margin-right: 20px;
}

.majorPolicy ul {
    display: grid;
    grid-template-columns: 70px 70px 70px 70px 70px;
    grid-template-rows: 88px 88px;
    justify-content: center;
    grid-gap: 28px;
    text-align: center;
    font-size: 13px;
}

.majorPolicy img{
    margin-bottom: 6px;
}

.majorPolicy li{
    width: 70px;
    padding-right:50px;
}


.sp_search{
    width:290px; height:240px;
    margin-right:20px;
    background: #4f8ec3;
    text-align: center;
    color: white;

}

.sp_search h2{
    font-weight:400;
}

.sp_search span {
    font-size: 14px;
    font-weight: 100;
}

.spSearch_txt {
    padding-top: 15px;
    position: relative;
    left: -15px;
}

.spSearchword{
    padding:6px;
    width: 180px;
}

.searchIcon {
    position: absolute;
    padding: 6px;
    color: red;
    background: white;
    right: 11px;
    border-radius: 4px;
}

.enews{
    width:290px; height:240px;
    background: white;
}
.enewsList{
    padding:10px 0 0 20px;
}
.enews li{
    display:flex;
    padding-bottom: 13px;
}

.enewsList img{
    width:71px;
}

.enewsText {
    padding: 8px;
    font-size: 13px;
    line-height: 17px;
    color: gray;
    font-weight: 100;
}

.enewsText span{
    display: block;
}

.enewsText .date{
    padding-top:6px;
}

/*section04 끝*/



/*section 05 시작*/

.wrap05_ban01 ul {
    display: grid;
    grid-template-columns: 260px 260px;
    grid-template-rows: 57px 57px 57px;
    justify-content: center;
    /*grid-gap: 28px;*/
    text-align: center;
    font-size: 13px;
    vertical-align: middle;
}

.wrap05_ban01 .odd{
    /*display: block;*/
background:  gray;
}

.wrap05_ban01 img{
    padding-left:50px;
}

.wrap05_white{
    background-color: white;
}
.wrap05_blue{
    background-color: #DCE8F3;
}

.wrap05_ban02 ul {
    width: 600px;
    display: flex;
    justify-content: space-between;
}


/*section05 끝*/

/*section06 시작*/

.wrap06_InnerWrap{
    width:100%; height:100px;
    display: flex;
    background: white;
    align-items: center;
}
.wrap06_linkWrap{
    width:100%;
    height:38px;
    overflow:hidden;
}
.wrap06_linkWrap ul{
    display: flex;
}

.wrap06_linkWrap ul li{
    padding-left:30px;
}

/*section06 끝*/




/*footer 메뉴 시작*/

.footMenuWrap{
    width:100%;
    height:51px;
    background: #3E4B5A;
    text-align: center;
}

.footMenuInner{
    width:1140px; height:100%;
    margin: 0 auto;
}
.footMenuInner ul {
    display: flex;
    height: 100%;
}
.footMenuInner li{
    width:219px; height:51px;
    background: #4C5A69;
    border-right:1px solid white;
}
.footMenuInner li:last-child {
    width: 259px;
    border: none;
    height: 51px;
    background: #36414E;
}

.footMenuInner li>a {
    width: 100%;
    position: relative;
    top: 20px;
    color: white;
    font-size: 14px;
    font-weight: 100;
    font-style: italic;
    /* font-family: 'Noto sans kr'; */
}


/*footer 메뉴 끝*/